$teal : #142e32;
$grey : #6a6a61;
$beige : #958976;
$red : #611427;
$inline: inline-block;

@mixin noBullets {
  list-style-type: none;
}

body {
  margin:0;
  padding: 0;
  background: $grey;
}

.contentwrap {
  width: 75%;
  padding: 0;
  margin: 0 12% 0 12%;
}

article {
  display: none;
}

.sideNav {
  float: left;
  width: 20%;
  display: block;
  background: $red;
}



.active {
 display: $inline;
 width: 75%;
 text-align: center;
}

.activeNav {
  display: $inline;
}
.activeNav a {
  color: black;
}
