<!doctype html>
<html>
<head>
  <title>Gallery</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
   <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Me</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</header>
    <h3>Web Development portfolio:</h3>
    <p class="gallery">
      <a href="http://crazydoglady.github.io"><img src="../images/jcrop.png" alt=""></a>
    </p> <!--end web dev port-->
    <h3>A few art projects:</h3>
    <div class="gallery">
      <img src="../images/sail.png" alt="">
      <img src="../images/maskpaint1.png" alt="" >
      <img src="../images/sketchstudy.png" alt="">
      <img src="../images/olives.png" alt="">
      <img src="../images/emberdraw.jpg" alt="">
      <img src="../images/swan.png" alt="">
    </div>
  <footer>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Me</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </footer>
</body>
</html>
