<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Valerie K. Harvey</title>
  <link rel="stylesheet" href="styles.css">

</head>
<body>
<div class="center">
  <header>
    <h1>Valerie K Harvey</h1>
    <img src="../images/robot.jpg" width=750px height=500px alt="">
  </header>
  <section class="box">
      <img src="../images/val1.png" alt="">
      <p>Val is awesome. Click here to find out why.</p>
  </section>
  <section class="box">
      <img src="../images/jcrop.png" alt="">
      <p>Click Photo to see my portfolio page.</p>
  </section>
</div>
  <footer>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Me</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </footer>

</body>
</html>
