<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="paddlelayout.css">

</head>
<body>
  <header>
    <div class="wrapper">
      <img class="logo" src="../images/surflogo1.png" alt="">
        <nav>
          <ul>
            <li><a href="surf.html">ABOUT</a></li>
            <li><a href="www.google.com">SEARCH</a></li>
            <li><a href=""></a></li>
          </ul>
        </nav>
    <h1>Surf & Paddle Co.</h1>
    <h6>An Ironyard Academy Project Est. Fall 2013</h6>
    <div><!--end wrapper in header-->
  </header>
<div class="container">
  <section class="first">
    <h2>A FANTASTIC ENGAGING HEADLINE GOES HERE</h2>
    <ul class="tagline">
      <li><img src="../images/smallhead.png"></li>
      <li>Anne Marie</li>
      <li>on</li>
      <li class="adtext">Monday Oct. 7that 9:22pm</li>
    </ul>

    <p>Salvia Austin Neutra fugiat, skateboard Wes Anderson bicycle rights. Delectus quis chia, Pitchfork chambray listicle tofu sunt. Flannel umami church-key pour-over voluptate. Id meggings laboris, Carles plaid photo booth migas excepteur farm-to-table Portland fashion axe chillwave nulla deep v.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam voluptate exercitationem, molestias iste! Repudiandae, quidem perspiciatis?</p>


    <p id="woah">WOAH, that's radical!<p>
    <p> Et food truck pour-over, fugiat nisi mixtape master cleanse stumptown bespoke. Salvia Austin Neutra fugiat, skateboard Wes Anderson bicycle rights. Delectus quis chia, Pitchfork chambray listicle tofu sunt. Flannel umami church-key pour-over voluptate. Id meggings laboris, Carles plaid photo booth migas excepteur farm-to-table Portland fashion axe chillwave nulla deep v. Scenester lumbersexual synth, chillwave next level polaroid swag pickled do cray narwhal tattooed whatever. Incididunt keffiyeh cronut small batch anim laboris. Retro consectetur qui, PBR eu dolor laboris art party tofu occaecat meh disrupt pug ea plaid. Semiotics lo-fi esse vero nesciunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, vero dolores ab similique eum soluta pariatur nobis quae. Ducimus impedit enim natus? Ut, quis laudantium illum possimus, doloremque fuga quod.</p>
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>

  </section>
  <aside>
    <div class="headshotad">
    <img src="../images/smallhead.png" alt="">
      <ul class="tagline2"><h3>Anne Marie</h3>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
    </div> <!--end headshotad-->
    <p>
      <img class="ad" src="../images/surfgal1.png" alt="">
      <a href="#" class="adtext">about this ad.</a>
    </p>
    <h4>SIDEBAR SECTION HEADING</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni placeat culpa facilis fugiat, temporibus illum a eos labore aperiam ipsum magnam, harum. Sunt debitis nesciunt, dolorem dicta earum aspernatur, neque.<p>
  </aside>
</div> <!--end container-->

<div class="popular">
  <h2>MOST POPULAR POSTS</h2>
  <div class="wrapper2">
      <li id="phtxt1"><a href="#">ANOTHER COOL POST</a></li>
      <li id="phtxt2"><a href="#">POST TITLE</a></li>
      <li id="phtxt3"><a href="#">HERE'S ANOTHER LONGER POST TITLE</a></li>
      <li id="phtxt4"><a href="#">OH COOL A POST!</a></li>
  </div><!--end wrapper2-->
</div> <!--end popular-->
  <footer>
    <div class="footwrap">
    <nav>
      <img src="../images/logo.png" alt="">
      <ul>
        <li>Nav Item</li>
        <li>Nav Item</li>
        <li>Nav Item</li>
        <li>Nav Item</li>
        <li>Nav Item</li>
      </ul>
    </nav>

  </div> <!--end wrapper for footer-->
</footer>
</body>
</html>
