<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link rel="stylesheet" href="paddle.css">
</head>
<body>
  <header>
    <img class="logo" src="http://www.fillmurray.com/300/350" alt="">
        <nav>
          <ul>
            <li><a href="">ABOUT</a></li>
            <li><a href=""></a>SEARCH</li>
          </ul>
        </nav>
    <h1>Surf & Paddle Co.</h1>
    <h6>An Ironyard Academy Project Est. Fall 2013</h6>
  </header>
<div class="container">
  <section class="first">
    <h2>A FANTASTIC ENGAGING HEADLINE GOES HERE</h2>
    <img class="headshot" src="http://www.fillmurray.com/200/200" alt="">
    <h5 class="tagline">Anne Marie</h5><h6>on Monday Oct. 7th 9:22pm</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni placeat culpa facilis fugiat, temporibus illum a eos labore aperiam ipsum magnam, harum. Sunt debitis nesciunt, dolorem dicta earum aspernatur, neque.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam voluptate exercitationem, molestias iste! Repudiandae, quidem perspiciatis? Dolorum placeat, assumenda, quae tempora beatae eaque aut quos voluptatibus praesentium blanditiis amet suscipit.</p>
    <h2>WOAH, that's radical!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni placeat culpa facilis fugiat, temporibus illum a eos labore aperiam ipsum magnam, harum. Sunt debitis nesciunt, dolorem dicta earum aspernatur, neque.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, vero dolores ab similique eum soluta pariatur nobis quae. Ducimus impedit enim natus? Ut, quis laudantium illum possimus, doloremque fuga quod.</p>
  </section>
  <section class="second">
      <img class="headshot" src="http://www.fillmurray.com/200/200" alt="">
      <ul class="tagline"><h3>Anne Marie</h3>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>

    <p>
      <img class="ad" src="http://www.fillmurray.com/300/350" alt="">
    </p>
    <a href="">about this ad.</a>
    <h2>A FANTASTIC ENGAGING HEADLINE GOES HERE</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni placeat culpa facilis fugiat, temporibus illum a eos labore aperiam ipsum magnam, harum. Sunt debitis nesciunt, dolorem dicta earum aspernatur, neque.</h2>
    <h3>Sidebar Section heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum iure odio dolorum atque, voluptate unde! Ut dolorem odit explicabo, pariatur qui iusto accusantium facilis, repellendus unde eaque praesentium nisi ullam.</p>
  </section>
</div> <!--end container-->
<div>
  <section  class="popular">Most popular posts
  <p>
    <img src="../images/billiebeach.png" alt="">
    <img src="../images/billiebeach.png" alt="">
    <img src="../images/billiebeach.png" alt="">
    <img src="../images/billiebeach.png" alt="">
  </p>
  </section>
</div> <!--end popular-->
<footer>
  <div>
    <nav>
      <img src="../images/olives.png" alt="">
      <ul>
        <li>Nav Item</li>
        <li>Nav Item</li>
        <li>Nav Item</li>
        <li>Nav Item</li>
        <li>Nav Item</li>
      </ul>
    </nav>

  </div> <!--end wrapper for footer-->
</footer>
</body>
</html>
