body {
  padding: 0;
  margin: 0;
  background-color: grey;
  font-family: helvetica;
}

header , footer {
  width: 100%;
  padding: 5px;
  background-color: black;
  color: white;
}

/*all nav items*/
nav li {
  margin-bottom: 10px;
  display:inline-block;
  list-style-type: none;
  padding-left: 18%;
}

nav a {
  list-style-text: none;
  color: white;
}
nav a:hover {
  color:red;
}

nav a:visited {
  color: white;
}

.center {
  width: 50%;
  margin: 0 25% 0 25%;
}

.container{
  width:50%;
  margin: 10px 25% 0 25%;
  border: 2px solid black;
}

.box {
  width: 30%;
  margin-left: 110px;
  display: inline-block;
  vertical-align: top;
}

.box img {
  float: clear;
  width: 200px;
  border-radius: 100%;
}


/* about page */

#racecar{
  height:500px;
  width: 400px;
  margin: 5px 5px 5px 5px;
  float: left;
  border-radius: 20px;
}

.dogs{
  vertical-align: top;
  width: 30%;
  margin-left: 110px;
  display: inline-block;
}

.dogs img {
  float: clear;
  width: 250px;
  border-radius: 100%;
}

.dogs a {
  color: red;
}

.dogs a:hover{
  color:white;
}

.dogs a:visited {
  color: white;
}

/*gallery page*/

.gallery img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}
