body {
  padding: 0;
  margin: 0;
  background-color: #fff0a5;
  font-family: helvetica;
}

h1, h2, {
 color: #732000;
 padding-left: 2px;
}

h3, h4, h6, h5{
  color: #fff0a5;
}

header , footer {
  width: 100%;
  padding: 5px;
  background-color: #8e2800;
  color: #fff0a5;
  border-radius: 20px;
}
/*all nav items*/
nav li {
  margin-bottom: 10px;
  display:inline-block;
  list-style-type: none;
  padding-left: 18%;
}

nav a {
  list-style-text: none;
  color: #ffb03b;
}
nav a:hover {
  color:#b64926;
}

nav a:visited:hover {
  color:#fff0a5;
}

nav a:visited {
  color: #ffb03b;
}

.center {
  width: 50%;
  margin: 0 25% 0 25%;
}
.center img {
  width:100%;
  border-radius: 30px;
  box-shadow: 3px 3px 2px #732000;
}

.container{
  width:50%;
  margin: 0 25% 0 25%;
  background-color: #8e2800;
  box-shadow: 5px 5px 10px #8e2800;
}

.box {
  width: 30%;
  margin-left: 110px;
  display: inline-block;
  vertical-align: top;
}

.box img {
  float: clear;
  width: 200px;
  border-radius: 100%;
}


/* about page */

#racecar{
  height:500px;
  width: 400px;
  margin: 5px 5px 5px 5px;
  float: left;
  border-radius: 20px;
  box-shadow: 5px 5px 7px #732000;
}

.dogs{
  vertical-align: top;
  width: 30%;
  margin-left: 110px;
  display: inline-block;
}

.dogs img {
  float: clear;
  width: 250px;
  border-radius: 100%;
  box-shadow: 5px 5px 9px #732000;
}

.dogs a {
  color: red;
}

.dogs a:hover{
  color:white;
}

.dogs a:visited {
  color: white;
}

/*gallery page*/

.webdev {
  color: #fffqa5;
  width: 40%;
  margin: 0 5% 0 5%;
  padding-left: 5px;
  display: inline-block;
  vertical-align: top;

}
.webdev img {
  color: #fffqa5;
  margin: 5%;
  width: 200px;
  height:200px;
  border-radius: 30px;
  box-shadow: 3px 3px 2px #732000;
}
.gallery {
  width:40%;
  margin:0 5% 0 0;
  padding: 5px;
  display: inline-block;
}
.gallery img {
  width: 125px;
  height: 125px;
  border-radius: 20px;
  box-shadow: 3px 3px 2px #732000;
  display: inline-block;
  margin: 1%;
}
