<!--calvin code-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div>
    <ul class="blocks">
      <li><a href="">One</a></li>
      <li><a href="">Two</a></li>
      <li><a href="">Three</a></li>
      <li><a href="">Four</a></li>
      <li><a href="">Five</a></li>
    </ul>
    <div class="text">
      <span>C</span>
      <span>A</span>
      <span>L</span>
      <span>V</span>
      <span>I</span>
      <span>N</span>
    </div>
  </div>
</body>
</html>
