$blue-color: #0000e5;
$left-column: 66%;
$right-column: 34%;
$page-bg: #505050;

#page {
    background-color: $page-bg;
    color: white;

    #page .highlight {
      background-color: yellow;
    }
}/*nested--*/

.left-col, .right-col {
  float: left;
}

.left-col {
  width: $left-column;
}

.right-col {
  width: $right-column;
}
.box {
  background-color: $blue-color;
  padding: 12px;
  margin: 5px;
  display: inline-block
}

h1 {
  color: $blue-color;
}
